<% content_for :devise_form do %>
  <h2 class="heading text-4xl font-bold pt-4 mb-8"><%= t('.forgot_your_password', :default => 'Forgot your password?') %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-6">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>

    <div class="mb-6">
      <%= f.submit t('.send_me_reset_password_instructions', :default => 'Send me reset password instructions'), class: "btn btn-default" %>
    </div>
  <% end %>
  <hr class="border mt-6" />
  <div class="text-center mt-4">
    <p class="text-sm text-grey-dark font-serif">Already have an account?</p>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

<%= render "devise/shared/form_wrap" %>
